@import './variables.scss';
@import './functions.scss';
@import './placeholders.scss';

* {
    @extend %default;
}

html {
    @extend %custom-scrollbar;
}

header {
    width: 100%;
    @extend %center;
    @extend %nav-bar;
}

main {
    @extend %center;
    display: flex;
    flex-direction: column;
    color: $light-grey;
    @extend %roboto-reg;
    align-items: center;
    line-height: 1.2;
    letter-spacing: .03rem;
    
    .top {
        display: flex;
        flex-direction: column;
        gap: 2em;
        margin-block: 5%;
        margin-right: 4%;

        h1 {
            font-size: 10rem;
        }

        .update {
            text-transform: uppercase;
            letter-spacing: .1rem;
            font-size: 1.1rem;
            font-weight: 100;
            opacity: .95;
        }
    }

    .content {
        display: flex;
        justify-content: center;
        gap: 1em;

        img {
            width: 15%;
            height: 15%;
            border-radius: 10%;
        }

        .text {
            width: 20%;
            @extend %about-p;
            align-self: start;

            p {
                font-size: 1.5rem;
                padding-block: 1em;
                font-weight: 300;

                span {
                    opacity: .7;
                }
            }

            .intro {
                font-size: 2rem;
                font-weight: 400;
                padding-block-start: 0;
            }
        }
    }

    .skills {
        margin-left: 15%;
        margin-block: 3em;
        align-self: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        border: 0.01em solid $white-1;
        padding-block: 1em;
        padding-inline: 10em;

        p {
            @extend %roboto-reg;
            font-weight: 200;
            color: $white-1;
            font-size: 2.5rem;
            text-transform: uppercase;
        }


        &:hover {
            border: 0.01em solid $yellow-1;

            p {
                color: $yellow-1;
            }

        }
    }
}

footer {
    @extend %footer;
}
