@import './variables.scss';
@import './functions.scss';
@import './mixins.scss';
@import './placeholders.scss';

* {
    @extend %default;
}

html {
    @extend %custom-scrollbar;
}
main {
    @extend %center;
    display: grid;
    grid-template: 1fr / 1fr;
    width: 100%;

    video {
        grid-area: 1 / 1;
        width: 100%;
        position: relative;
        z-index: 0;
    }
}
header {
    width: 100%;
    @extend %center;
    @extend %nav-bar;
}
footer {
    @extend %footer;
}
