@import './variables.scss';
@import './functions.scss';
@import './mixins.scss';
@import './placeholders.scss';

* {
    @extend %default;
}

body::-webkit-scrollbar {
    width: 8px;
}
body::-webkit-scrollbar-track {
    border-radius: 20px;
}
body::-webkit-scrollbar-thumb {
    background-color: $yellow-1;
    border-radius: 20px;
}

// Setting up the header grid

header {
    @extend %center;
    @extend %full-screen;

    .grid-container {
        @extend %center;
        @extend %full-screen;
        position: relative;
        z-index: 1;
        display: grid;
        grid-template: 1fr / 1fr;

        .background {
            grid-area: 1 / 1;
            width: 50%;
            height: 100vh;
            justify-self: end;
            filter: saturate(0%);
            opacity: 0.4;
            position: relative;
            z-index: -1;
        }

        .filter {
            grid-area: 1 / 1;
            width: 100vw;
            height: 100vh;
            position: relative;
            z-index: 0;
            opacity: 1;
        }

        .navigation-container {
            grid-area: 1 / 1;
            display: flex;
            justify-self: center;
            width: 90%;
            padding-top: .7em;
            height: fit-content;
            justify-content: space-between;
            position: relative;
            z-index: 2;

            .logo-container {
                width: 6em;
                
                img {
                    width: 100%;
                }
            }

            nav {
                display: flex;
                justify-content: space-between;
                padding-top: 3em;
                width: 90%;
            }

            .navigation-links {
                display: flex;
                list-style: none;

                .link a {
                    text-decoration: none;
                    padding: .7rem;
                    @extend %raleway-semib;
                    color: $white-1;
                    font-size: 1.2rem;

                    &:hover {
                        color: $yellow-1;
                    }
                }

            }

            .social-media {
                display: flex;

                img {
                    aspect-ratio: 1;
                    width: 2em;
                    padding: .7em;
                    filter: invert(68%) sepia(72%) saturate(1887%) hue-rotate(18deg) brightness(106%) contrast(103%);

                    &:hover {
                        filter: invert(78%) sepia(76%) saturate(1393%) hue-rotate(11deg) brightness(89%) contrast(96%);
                        transform: scale(.95);
                    }
                }
            }
        }

        .title-container {
            grid-area: 1 / 1;
            position: relative;
            z-index: 2;
            align-self: center;
            width: min-content;
            margin-top: 12%;

            .title-r1,
            .title-r3,
            .title-r2 {
                @extend %raleway-bold;
                @extend %gradient-text;
            }
            .title-r1, .title-r3 {
                background-image: linear-gradient(90deg, $first-yellow, $second-yellow, $third-yellow, $fourth-yellow, $fifth-yellow);
                margin-left: 6rem;
            }
            .title-r2 {
                background-image: linear-gradient(90deg, $first-white, $second-white, $third-white, $fourth-white, $fifth-white);
                margin-left: 2rem;
            }
        }

        .arrow-down {
            grid-area: 1 / 1;
            aspect-ratio: 1;
            width: 2em;
            filter: invert(99%) sepia(99%) saturate(2%) hue-rotate(148deg) brightness(111%) contrast(100%);
            position: relative;
            z-index: 2;
            overflow: hidden;
            align-self: flex-end;
            justify-self: center;
            padding-bottom: .5em;
            opacity: .7;
        }
    }
}

main {
    @extend %center;
    color: $light-grey;
    position: relative;
    height: 480vh;

    span {
        color: $yellow-2;
    }

    .intro-title {
        @extend %lato-bold;
        font-size: 9rem;
        max-width: 70%;
        @extend %center;
        margin-top: 10%;
    }

    .intro-content1,
    .intro-content2 {
        font-size: 2.25rem;
        @extend %raleway-reg;
        width: 40%;
        
    }
    .intro-content1 {
        position: absolute;
        right: 10px;
        top: 90rem;
    }
    .intro-content2 {
        position: absolute;
        left: 20px;
        top: 140rem;
    }
    .outro-content {
        font-size: 2.25rem;
        position: absolute;
        right: 10px;
        top: 190rem;
        @extend %raleway-reg;
        padding: .2rem;

        a {
            text-decoration: none;
            color: inherit;
        }

        ul {
            padding-bottom: 1em;
        }

        img {
            filter: invert(89%) sepia(56%) saturate(7480%) hue-rotate(353deg) brightness(82%) contrast(105%);
            width: .5em;
            margin-right: .5em;
        }
    }
}
footer {
    @extend %center;
    text-transform: uppercase;
    @extend %raleway-reg;
    color: $white-1;
    display: flex;
    flex-direction: column;
    
    margin-bottom: 2%;

    a {
        color: inherit;
        text-decoration: none;

        &:hover {
            color: $yellow-1;
        }
    }

    .footer-content {
        border-top: 1px solid $white-1;
        border-bottom: 1px solid $white-1;
        display: flex;
        gap: 4em;
        justify-content: center;
        padding-top: 1.2em;
        padding-bottom: 1.2em;

        .left-column {
            width: 15%;
        }

        .middle-column,
        .right-column {
            display: flex;
            flex-direction: column;
        }

    }

    .footer-logo {
        margin: 1.5% auto;
    }
}
