@import './variables.scss';
@import './functions.scss';

// Global styles
%default {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
%center {
    margin: 0 auto;
}
%full-screen {
    width: 100%;
    height: 100vh;
}

%overflow {
    overflow-anchor: auto !important;
    overflow-clip-margin: 0px !important;
    overflow-wrap: normal !important;
    overflow-x: visible !important;
    overflow-y: visible !important;
}

// Fonts
%raleway-reg {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}
%raleway-semib {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}
%raleway-bold {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
%lato-bold {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}
%roboto-reg {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

// Gradient text

%gradient-text {
    -webkit-background-clip: text;
    color: transparent;
    font-size: 15rem;
}

// Footer styles
%footer {
    @extend %center;
    text-transform: uppercase;
    @extend %raleway-reg;
    color: $white-1;
    display: flex;
    flex-direction: column;

    a {
        color: inherit;
        text-decoration: none;
        transition: 300ms ease;

        &:hover {
            color: $yellow-1;
        }
    }

    .footer-content {
        @extend %center;
        border-top: 1px solid $white-1;
        border-bottom: 1px solid $white-1;
        display: flex;
        gap: 3em;
        justify-content: space-between;
        padding-top: 1.5em;
        padding-bottom: 1.5em;

        .left-column {
            width: 15%;
            min-width: 23ch;
            line-height: 1.75;

            span {
                font-size: 1.22rem;
                font-weight: 100;
            }
        }

        .middle-column,
        .right-column {
            display: flex;
            flex-direction: column;
            gap: .75em;
        }

    }

    .footer-logo {
        margin: 1.5% auto 1%;

        img {
            width: 100%;
        }
    }
    @media screen and (max-width: 400px) {
        .footer-content {
            gap: 1.5em;
            width: 95%;
        }
        .footer-logo {
            width: 8em;
        }
    }
}

// Nav bar

%nav-bar {
    .navigation-container {
        grid-area: 1 / 1;
        display: flex;
        justify-self: center;
        width: 90%;
        padding-top: .7em;
        height: fit-content;
        justify-content: space-between;
        position: relative;
        z-index: 2;
        @extend %center;

        .logo-container {
            width: 15em;
            height: 15em;
            display: flex;
            justify-content: center;
            overflow: hidden;

            animation: fadeIn 2.5s ease-in-out forwards;

            @keyframes fadeIn {
                from {
                    opacity: 0;
                    transform: translateY(-100%);
                }
                to {
                    opacity: 1;
                    transform: translateY(0%);
                }
            }

            svg .down {
                animation: fadeUp 2.5s ease-in-out;

                @keyframes fadeUp {
                    0% {
                        transform: translateY(25%) scale(1.1);
                    }
                    60% {
                        transform: translateY(25%) scale(1.1);
                    }
                    100% {
                        transform: translateY(0%) scale(1);
                    }
                }
            }

            svg .one {
                animation: 
                    colorIn 200ms ease 2.5s,
                    fadeDown 2.5s ease-in-out;
            }

            svg .two {
                animation: 
                    colorIn 200ms ease 2.7s,
                    fadeDown 2.5s ease-in-out;
            }

            svg .three {
                animation: 
                    colorIn 200ms ease 2.9s,
                    fadeDown 2.5s ease-in-out;
            }

            svg .four {
                animation: 
                    colorIn 200ms ease 3.1s,
                    fadeDown 2.5s ease-in-out;
            }

            svg .five {
                animation: 
                    colorIn 200ms ease 3.3s,
                    fadeDown 2.5s ease-in-out;
            }

            svg .six {
                animation: 
                    colorIn 200ms ease 3.5s,
                    fadeDown 2.5s ease-in-out;
            }

            svg .seven {
                animation: 
                    colorIn 200ms ease 3.7s,
                    fadeDown 2.5s ease-in-out;
            }

            svg .eight {
                animation: 
                    colorIn 200ms ease 3.9s,
                    fadeDown 2.5s ease-in-out;
            }

            svg .nine {
                animation: 
                    colorIn 200ms ease 4.1s,
                    fadeDown 2.5s ease-in-out;
            }

            @keyframes fadeDown {
                0% {
                    opacity: 0;
                    transform: translateY(-30%);
                }
                65% {
                    opacity: 0;
                    transform: translateY(-30%);
                }
                100% {
                    opacity: 1;
                    transform: translateY(0%);
                }
            }

            @keyframes colorIn {
                0% {
                fill: initial;
                }
                50% {
                    fill: #D4CC00;
                }
                100% {
                    fill: initial;
                }
            }

            svg {
                width: 100%;
                transition: 2s ease-in-out;
            
                .d-big {
                    transition: 900ms ease;
                }
                .i-big {
                    transition: 900ms ease;
                }
            
                .down {
                    transition: 2s ease-in-out;
                }
                .up {
                    transition: 2s ease-in-out;
                }
            
                &:hover {
                    transform: scale(1.1);
            
                    .d-big {
                        fill: #F8F8F8;
                    }
                    .i-big {
                        fill: #D4CC00;
                    }
            
                    .down {
                        transform: translateY(25%);
                    }
            
                    .up {
                        opacity: 0;
                        transform: translateY(-25%) scale(.9);
                    }
                }
             }
        }

        @media screen and (max-width: 400px) {
            .logo-container {
                width: 10em;
                height: 10em;
            }
        }

        nav {
            display: flex;
            justify-content: space-between;
            padding-top: 3em;
            width: 90%;
            position: relative;
        }

        .navigation-links {
            display: flex;
            list-style: none;

            .link a {
                text-decoration: none;
                padding: .7rem;
                @extend %raleway-semib;
                color: $white-1;
                font-size: 1.2rem;
                transition: 300ms ease;

                &:hover {
                    color: $yellow-1;
                }
            }

        }

        .social-media {
            display: flex;

            img {
                aspect-ratio: 1;
                width: 2em;
                padding: .7em;
                filter: invert(68%) sepia(72%) saturate(1887%) hue-rotate(18deg) brightness(106%) contrast(103%);
                transition: 300ms ease-in-out;

                &:hover {
                    filter: invert(78%) sepia(76%) saturate(1393%) hue-rotate(11deg) brightness(89%) contrast(96%);
                    transform: scale(.95);
                }
            }
        }
    }
    @media screen and (max-width: 400px) {
        .navigation-container {
            width: 100%;
        }
    }
}

// Scroll bar

%custom-scrollbar {
    body {
        &::-webkit-scrollbar {
            width: 8px;
        }
        &::-webkit-scrollbar-track {
            border-radius: 20px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: $yellow-1;
            border-radius: 20px;
        }
    }
}


// Random components

%about-p {
    width: 60ch;
    align-self: center;
    text-indent: .5rem;
    padding: 1em;
    line-height: 1.2;
    letter-spacing: .03rem;
}
