@import './variables.scss';
@import './functions.scss';
@import './mixins.scss';
@import './placeholders.scss';

* {
    @extend %default;
}

html {
    @extend %custom-scrollbar;
}

header {
    width: 100%;
    @extend %center;
    @extend %nav-bar;
}

main {
    @extend %center;
    width: 100%;
    margin-block: 3%;
    display: flex;
    overflow-y: hidden;

    .container {
        width: 100%;

        a {
            width: 100%;
            display: flex;
            flex-direction: column;
            text-decoration: none;
            color: transparent;

            img {
                width: 100%;
                filter: saturate(50%);
            }

            h2 {
                color: $yellow-1;
                @extend %roboto-reg;
                text-align: center;
                font-size: 2.7rem;
                padding: .5rem;
                text-transform: uppercase;
            }
        }

        .dev {
            flex-direction: column-reverse;
        }

        &:hover {
            transform: scale(1.05);
            transition: transform 1500ms;

            img {
                filter: saturate(100%);
                transition: filter 1500ms;
            }
        }
    }
}

footer {
    @extend %footer;
}
