// Global colors
$yellow-1: #D4CC00;
$yellow-2: #BDC105;
$white-1: #FFFFFF;
$light-grey: #CFCFCF;

// Gradient for title
$gradient-yellow: ('first yellow': #665C05, 'second yellow': #CDB905, 'third yellow': #FAFF05, 'fourth yellow': #BDC105, 'fifth yellow': #656705);
$gradient-white: ('first white': #CFCFCF, 'second white': #E8E8E8, 'third white': #FFFFFF, 'fourth white': #E7E7E7, 'fifth white': #C5C5C5);
