* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

main, header, header .navigation-container, footer .footer-content, footer {
  margin: 0 auto;
}

footer {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

header .navigation-container .navigation-links .link a {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

main .skills p, main {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

footer {
  text-transform: uppercase;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
}
footer a {
  color: inherit;
  text-decoration: none;
  transition: 300ms ease;
}
footer a:hover {
  color: #D4CC00;
}
footer .footer-content {
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  display: flex;
  gap: 3em;
  justify-content: space-between;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}
footer .footer-content .left-column {
  width: 15%;
  min-width: 23ch;
  line-height: 1.75;
}
footer .footer-content .left-column span {
  font-size: 1.22rem;
  font-weight: 100;
}
footer .footer-content .middle-column,
footer .footer-content .right-column {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}
footer .footer-logo {
  margin: 1.5% auto 1%;
}
footer .footer-logo img {
  width: 100%;
}
@media screen and (max-width: 400px) {
  footer .footer-content {
    gap: 1.5em;
    width: 95%;
  }
  footer .footer-logo {
    width: 8em;
  }
}

header .navigation-container {
  grid-area: 1/1;
  display: flex;
  justify-self: center;
  width: 90%;
  padding-top: 0.7em;
  height: fit-content;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}
header .navigation-container .logo-container {
  width: 15em;
  height: 15em;
  display: flex;
  justify-content: center;
  overflow: hidden;
  animation: fadeIn 2.5s ease-in-out forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
header .navigation-container .logo-container svg .down {
  animation: fadeUp 2.5s ease-in-out;
}
@keyframes fadeUp {
  0% {
    transform: translateY(25%) scale(1.1);
  }
  60% {
    transform: translateY(25%) scale(1.1);
  }
  100% {
    transform: translateY(0%) scale(1);
  }
}
header .navigation-container .logo-container svg .one {
  animation: colorIn 200ms ease 2.5s, fadeDown 2.5s ease-in-out;
}
header .navigation-container .logo-container svg .two {
  animation: colorIn 200ms ease 2.7s, fadeDown 2.5s ease-in-out;
}
header .navigation-container .logo-container svg .three {
  animation: colorIn 200ms ease 2.9s, fadeDown 2.5s ease-in-out;
}
header .navigation-container .logo-container svg .four {
  animation: colorIn 200ms ease 3.1s, fadeDown 2.5s ease-in-out;
}
header .navigation-container .logo-container svg .five {
  animation: colorIn 200ms ease 3.3s, fadeDown 2.5s ease-in-out;
}
header .navigation-container .logo-container svg .six {
  animation: colorIn 200ms ease 3.5s, fadeDown 2.5s ease-in-out;
}
header .navigation-container .logo-container svg .seven {
  animation: colorIn 200ms ease 3.7s, fadeDown 2.5s ease-in-out;
}
header .navigation-container .logo-container svg .eight {
  animation: colorIn 200ms ease 3.9s, fadeDown 2.5s ease-in-out;
}
header .navigation-container .logo-container svg .nine {
  animation: colorIn 200ms ease 4.1s, fadeDown 2.5s ease-in-out;
}
@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-30%);
  }
  65% {
    opacity: 0;
    transform: translateY(-30%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes colorIn {
  0% {
    fill: initial;
  }
  50% {
    fill: #D4CC00;
  }
  100% {
    fill: initial;
  }
}
header .navigation-container .logo-container svg {
  width: 100%;
  transition: 2s ease-in-out;
}
header .navigation-container .logo-container svg .d-big {
  transition: 900ms ease;
}
header .navigation-container .logo-container svg .i-big {
  transition: 900ms ease;
}
header .navigation-container .logo-container svg .down {
  transition: 2s ease-in-out;
}
header .navigation-container .logo-container svg .up {
  transition: 2s ease-in-out;
}
header .navigation-container .logo-container svg:hover {
  transform: scale(1.1);
}
header .navigation-container .logo-container svg:hover .d-big {
  fill: #F8F8F8;
}
header .navigation-container .logo-container svg:hover .i-big {
  fill: #D4CC00;
}
header .navigation-container .logo-container svg:hover .down {
  transform: translateY(25%);
}
header .navigation-container .logo-container svg:hover .up {
  opacity: 0;
  transform: translateY(-25%) scale(0.9);
}
@media screen and (max-width: 400px) {
  header .navigation-container .logo-container {
    width: 10em;
    height: 10em;
  }
}
header .navigation-container nav {
  display: flex;
  justify-content: space-between;
  padding-top: 3em;
  width: 90%;
  position: relative;
}
header .navigation-container .navigation-links {
  display: flex;
  list-style: none;
}
header .navigation-container .navigation-links .link a {
  text-decoration: none;
  padding: 0.7rem;
  color: #FFFFFF;
  font-size: 1.2rem;
  transition: 300ms ease;
}
header .navigation-container .navigation-links .link a:hover {
  color: #D4CC00;
}
header .navigation-container .social-media {
  display: flex;
}
header .navigation-container .social-media img {
  aspect-ratio: 1;
  width: 2em;
  padding: 0.7em;
  filter: invert(68%) sepia(72%) saturate(1887%) hue-rotate(18deg) brightness(106%) contrast(103%);
  transition: 300ms ease-in-out;
}
header .navigation-container .social-media img:hover {
  filter: invert(78%) sepia(76%) saturate(1393%) hue-rotate(11deg) brightness(89%) contrast(96%);
  transform: scale(0.95);
}
@media screen and (max-width: 400px) {
  header .navigation-container {
    width: 100%;
  }
}

html body::-webkit-scrollbar {
  width: 8px;
}
html body::-webkit-scrollbar-track {
  border-radius: 20px;
}
html body::-webkit-scrollbar-thumb {
  background-color: #D4CC00;
  border-radius: 20px;
}

main .content .text {
  width: 60ch;
  align-self: center;
  text-indent: 0.5rem;
  padding: 1em;
  line-height: 1.2;
  letter-spacing: 0.03rem;
}

header {
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  color: #CFCFCF;
  align-items: center;
  line-height: 1.2;
  letter-spacing: 0.03rem;
}
main .top {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-block: 5%;
  margin-right: 4%;
}
main .top h1 {
  font-size: 10rem;
}
main .top .update {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1.1rem;
  font-weight: 100;
  opacity: 0.95;
}
main .content {
  display: flex;
  justify-content: center;
  gap: 1em;
}
main .content img {
  width: 15%;
  height: 15%;
  border-radius: 10%;
}
main .content .text {
  width: 20%;
  align-self: start;
}
main .content .text p {
  font-size: 1.5rem;
  padding-block: 1em;
  font-weight: 300;
}
main .content .text p span {
  opacity: 0.7;
}
main .content .text .intro {
  font-size: 2rem;
  font-weight: 400;
  padding-block-start: 0;
}
main .skills {
  margin-left: 15%;
  margin-block: 3em;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  border: 0.01em solid #FFFFFF;
  padding-block: 1em;
  padding-inline: 10em;
}
main .skills p {
  font-weight: 200;
  color: #FFFFFF;
  font-size: 2.5rem;
  text-transform: uppercase;
}
main .skills:hover {
  border: 0.01em solid #D4CC00;
}
main .skills:hover p {
  color: #D4CC00;
}

@media screen and (max-width: 1800px) {
  html {
    font-size: 16px;
  }
}
@media screen and (max-width: 1500px) {
  html {
    font-size: 15px;
  }
}
@media screen and (max-width: 1000px) {
  html {
    font-size: 14px;
  }
}
@media screen and (max-width: 500px) {
  html {
    font-size: 12px;
  }
}
@media screen and (max-width: 380px) {
  html {
    font-size: 10px;
  }
}

/*# sourceMappingURL=about.css.map */
